@keyframes bob {
    0% {
        filter: drop-shadow(0 15px 15px rgba(0, 0, 0, .3));
        transform: translate(0);
    }

    50% {
        filter: drop-shadow(0 10px 20px rgba(0, 0, 0, .1));
        transform: translateY(-1rem);
    }

    100% {
        filter: drop-shadow(0 15px 15px rgba(0, 0, 0, .3));
        transform: translate(0);
    }
}

@keyframes bgGradientGlow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}